{{ template "header.html" }}
<h1>Sign in</h1>
<p>Hello {{ .Username }}</p>

<ul>
<li> <a href="/">Home</a></li>
<li> <a href="/logout">Log out</a></li>
<li> <a href="/pledge">Pledge Support</a></li>
</ul>
{{ template "footer.html" }}
