{{ template "header.html.tmpl" . }}
<h1>Thanks</h1>
<p>My first paragraph.</p>
<p>Hello {{ .Username }}</p>

<ul>
<li> <a href="/signin">Sign In</a></li>
<li> <a href="/logout">Log out</a></li>
<li> <a href="/pledge">Pledge Support</a></li>
</ul>
{{ template "footer.html.tmpl" . }}
