{{ template "header.html.tmpl" . }}
<h1>Admin New Items</h1>

{{ define "items" -}}
<select name="item[]">
    <option value="0"> --- </option>
    {{ range .Items }}
    <option value="{{.ID}}"> {{ .Company.Name }} {{ .Make }} {{ .Model }} </option>
    {{ end }}
</select>
{{ end -}}

{{ define "companies" -}}
<select name="company[]">
    <option value="0"> --- </option>
    {{ range .Companies }}
    <option value="{{.ID}}"> {{ .Name }}</option>
    {{ end }}
</select>
{{ end -}}

<form action="/admin/newitems" method="post">
<input type="hidden" name="csrf" value="{{ .CSRFToken }}">

<table class="items-table">
    <tr>
        <td>Action</td>
        <td>User Id</td>
        <td>User Company</td>
        <td>Company</td>
        <td>User Make</td>
        <td>User Model</td>
        <td>User Value</td>
        <td>Item</td>
    </tr>
    {{ range $index, $element := .NewItems }}
    <tr class="item-entry">
        <input type="hidden" name="id[]" value="{{ .ID }}">
        <input type="hidden" name="isPledge[]" value="{{ .IsPledge }}">
        <input type="hidden" name="currencyID[]" value="{{ .CurrencyID }}">
        <td>
            <select name="action[]">
                <option value="leave" selected>Leave</option>
                <option value="add">Add</option>
                <option value="delete">Delete</option>
            </select>
        </td>
        <td><input type="input" name="userID[]" value="{{ .UserID }}"></td>
        <td><input type="input" name="usercompany[]" value="{{ .Company }}"></td>
        <td>{{ template "companies" $ }}</td>
        <td><input type="input" name="usermake[]" value="{{ .Make }}"></td>
        <td><input type="input" name="usermodel[]" value="{{ .Model }}"></td>
        <td><input type="input" name="uservalue[]" value="{{ .Value }}"></td>
        <td>{{ template "items" $ }}</td>
    </tr>
    {{ end }}
</table>
</div>

<input type="submit" value="Submit">
</form>

{{ template "footer.html.tmpl" . }}

