      <!-- Footer -->
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="3u">
              <section id="box1">
                  {{ template "updates-wc.html.tmpl" . }}
              </section>
            </div>
            <div class="6u">
              <section id="box2">
                  {{ template "motivation-wc.html.tmpl" . }}
              </section>
            </div>
            <div class="3u">
              <section id="box3">
                  {{ template "misc-wc.html.tmpl" . }}
              </section>
            </div>
          </div>
        </div>
      </div>

      <!-- Copyright -->
      <div id="copyright">
        <div class="container">
          Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
        </div>
      </div>
      
    </div>
  </body>
</html>

