{{ template "header.html.tmpl" . }}

      <div id="page">
        <div class="container">
          <div class="row">
            <div class="-2u 7u skel-cell-important">
              <section id="content" >
                  {{ template "homepage-ec.html.tmpl" . }}
              </section>
            </div>
            <div class="3u">
              <section id="sidebard3">
                  {{ template "totaliser.html.tmpl" . }}
              </section>
            </div>
          </div>

        </div>  
      </div>
{{ template "footer.html.tmpl" . }}
