<header>
  <h2>The Facts</h2>
</header>
<ul class="style1">
    <li class="first"><span class="fa fa-check"></span><a href="#">Fact 1</a></li><br>
    <li><span class="fa fa-check"></span><a href="#">Fact 2</a></li><br>
    <li><span class="fa fa-check"></span><a href="#">Fact 3</a></li><br>
</ul>
<a href="#" class="button">Further Reading</a>
