{{ template "header.html.tmpl" . }}

      <div id="page">
        <div class="container">
          <div class="row">
            <div class="-2u 7u skel-cell-important">
              <section id="content" >
                <header>
                    <h2>Pledge your boycott</h2>
                    <p>Select the item you're boycotting from the list below</p>
                    <label class="wrapper">
                    <form action="/pledge" id="pledgeForm" method="post">
                    <input type="hidden" name="csrf" value="{{ .CSRFToken }}">
                    <div class="custom-select">
                    <select name="item" required>
                        {{ range .Items }}
                        <option value="{{.ID}}"> {{ .Company.Name }} {{ .Make }} {{ .Model }} </option>
                        {{ end }}
                    </select>
                    </div>
                     <script>
                       function onSubmitPledge(token) {
                         document.getElementById("pledgeForm").submit();
                       }
                     </script>
                    <input type="submit" class="g-recaptcha button" data-sitekey="6LefuEsUAAAAAL0gXcn3hKHq3tmKmYuLvcHuc40W" data-callback='onSubmitPledge' value="Submit">
                    </form>
                    </label>
                    <br><br>
                    <h2>Add an Item</h2>
                    <p>If you can't see the item in the list above you can add it using this form.
                    Note that items are checked by an admin before they appear in the main listing,
                    so there may be a delay of up to 24 hours.</p>

                    <form id="pledgeNew" action="/newitem" method="post">
                    <input type="hidden" name="csrf" value="{{ .CSRFToken }}">
                        <table>
                            <tr><td>Manufacturer/Company</td><td><input name="company"></td></tr>
                            <tr><td>Make</td><td><input name="make"></td></tr>
                            <tr><td>Model</td><td><input name="model"></td></tr>
                            <tr><td>Recommended Retail Price (RRP)</td><td><input name="value"></td>
                                <td>
                                <div class="custom-select">
                                <select name="currencyID" required>
                                    {{ range .Currencies }}
                                        <option value="{{ .ID }}"> {{ .Ident }} </option>
                                    {{end}}
                                </select>
                                </div>
                            </td></tr>
                        </table>
                         <script>
                           function onSubmitNew(token) {
                             document.getElementById("pledgeNew").submit();
                           }
                         </script>
                        <input type="submit" class="g-recaptcha button" data-sitekey="6LefuEsUAAAAAL0gXcn3hKHq3tmKmYuLvcHuc40W" data-callback='onSubmitNew' value="Submit">
                    </form>
                </header>
              </section>
            </div>
          </div>

        </div>  
      </div>
{{ template "footer.html.tmpl" . }}
