{{ template "header.html.tmpl" . }}
      <div id="page">
        <div class="container">
          <div class="row">
            <div class="3u">
              <section id="sidebard2">
                  {{ template "pledge-sidebar-wc.html.tmpl" . }}
              </section>
            </div>
            <div class="9u skel-cell-important">
              <section id="content" >
                <header>
                    <h2>Pledge your boycott</h2>
                    <p>Select the item you're boycotting from the list below</p>
                    <label class="wrapper">
                    <form action="/pledge" method="post">
                    <div class="custom-select">
                    <select name="item" required>
                        {{ range .Items }}
                        <option value="{{.ID}}"> {{ .Company.Name }} {{ .Make }} {{ .Model }} </option>
                        {{ end }}
                    </select>
                    </div>
                    <input type="submit" class="button" value="Submit">
                    </form>
                    </label>
                    <br><br>
                    <h2>Add an Item</h2>
                    <p>If you can't see the item in the list above you can add it using this form.
                    Note that items are checked by an admin before they appear in the main listing,
                    so there may be a delay of up to 24 hours.</p>

                    <form action="/newitem" method="post">
                        <table>
                            <tr><td>Manufacturer/Company</td><td><input name="company"></td></tr>
                            <tr><td>Make</td><td><input name="make"></td></tr>
                            <tr><td>Model</td><td><input name="model"></td></tr>
                            <tr><td>Approximate Value (USD)</td><td><input name="value"></td></tr>
                        </table>
                        <input type="submit" class="button" value="Submit">
                    </form>
                </header>
              </section>
            </div>
          </div>

        </div>  
      </div>
{{ template "footer.html.tmpl" . }}
