{{ template "header.html.tmpl" . }}
  <div id="page">
    <div class="container">
      <div class="row">
        <div class="-2u 8u skel-cell-important">
          <section id="content" >
            <header>
                <h2>Thank you...</h2>
            </header>
            <p>Your pledge to boycott has been gratefully received. Thank you for adding your voice to this campaign!</p>
            <p>We would be even more grateful if you could spare a few more moments to spread the word to your friend, family and social media contacts.</p>
          </section>
        </div>
      </div>

    </div>  
  </div>
{{ template "footer.html.tmpl" . }}
