{{ if .UserPledges }}
    <header> <h2>Your pledges</h2> </header>
    {{ range .UserPledges }}
        {{ printf "%s %s" .Item.Make .Item.Model }}
        <br>
    {{ end}}
{{ end }}

<header><h2>Recent Pledges</h2></header>

{{ .RecentPledges }}

<header><h2>Total Pledged so far</h2></header>
<header> ${{ .TotalPledges }} </header>
