{{ if .UserPledges }}
    <header> <h2>Your pledges</h2> </header>
    {{ range .UserPledges }}
        {{ printf "%s %s" .Item.Make .Item.Model }}
        <br>
    {{ end}}
{{ end }}

<header><h2>Recent Pledges</h2></header>

{{ range .RecentPledges }}
    {{ printf "%s %s %s %s" .UserName .Country .Make .Model }}
    <br>
{{ end}}

<br>

<header><h2>Total: ${{.TotalPledges}}</h2></header>
