GET http://:target:
GET http://:target:/js/skel.min.js
GET http://:target:/js/skel-panels.min.js
GET http://:target:/js/init.js
GET http://:target:/images/pics02.jpg
GET http://:target:/css/font/fontawesome-webfont.woff?v=4.0.1
GET http://:target:/images/banner.jpg

GET http://:target:
Cookie: auth=:cookie:

GET http://:target:/pledge
Cookie: auth=:cookie:

POST http://:target:/pledge
Content-type: application/x-www-form-urlencoded
Cookie: auth=:cookie:
@target-body

GET http://:target:

GET http://:target:
Cookie: auth=:cookie:

GET http://:target:/pledge
Cookie: auth=:cookie:

POST http://:target:/pledge
Content-type: application/x-www-form-urlencoded
Cookie: auth=:cookie:
@target-body
